.sideBar {
  width: 110px;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.sideBarIcons {
  flex-grow: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sideBarActivity {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarCopyrights {
  justify-self: flex-end;
  font-size: 12px;
  /* margin: 10px 0 50px 0; */
  display: flex;
  align-items: center;
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg) translateY(50px);
}

.activeIcon {
  background-color: black !important;
  border: 2px solid #ff0101 !important;
}
