.dailyActivity {
  grid-column: 1 / 4;
  grid-row: 1;
  background-color: #FBFBFB;
}

.dailyTooltip {
  text-align: center;
  position: absolute;
  padding: 10px;
  background-color: #FF0101;
  color: white;
  display: none;
}

.dailyActivityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.dailyActivityCaption {
  display: flex;
  flex-direction: row;
  gap: 40px;
}


.dailyActivityBar {
  color: #74798C;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.dailyActivityBar:before {
  content: "\2022";
  font-size: 30px;
  width: 20px; /* Also needed for space (tweak if needed) */
}
.dailyActivityBar:nth-of-type(even):before {
  color: #FF0101;
}
.dailyActivityBar:nth-of-type(odd):before {
  color: black;
}
.dailyActivityCaption {

}