
.home {
  height: 100%;
}

.greetings {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%;
}

.userName {
  color: #FF0101;
}

.welcomeMessage {

}

.chartsBox {
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  gap: 3%;
}

.canvas {
  flex-grow: 1;
  width: 100%;
}