* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: row;
  min-width: 1024px;
  min-height: 100vh;
}

.content {
  padding: 140px 100px 50px 220px;
  width: 100%;
}

.selectionPanel {
  position: relative;
  margin: 20px;
}

.panelItem {
  height: 34px;
  width: 200px;
}

.chartCard {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  text-wrap: normal;
  /*overflow: hidden;*/
}

.axis {
  font-family: inherit;
  font-size: 14px;
  color: #9B9EAC;
  shape-rendering: geometricPrecision;
}

.axis-grid, .y.axis {
  stroke-width: 0;
}
.axis-grid line {
  stroke-width: 1px;
  stroke: #DEDEDE;
  stroke-dasharray: 2 2;
}

/*.colored {*/
/*  background-color: lime;*/
/*}*/

/*.tooltip {*/
/*  font-size: 7px;*/
/*  shape-rendering: geometricPrecision;*/
/*  font-family: inherit;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  gap: 24px;*/
/*  padding: 3px;*/
/*  position: absolute;*/
/*  z-index: 1000;*/
/*}*/

/*.daily {*/
/*  color: white;*/
/*  fill: #FF0101;*/
/*}*/

/*.average {*/
/*  color: black;*/
/*  fill: white;*/
/*}*/