* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 1024px;
  min-height: 750px;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 90px 0 0 0;
  width: 100%;
  height: 100%;
}

.selectionBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  gap: 50px;
}

.selectionTitle {
  font-size: larger;
}

.panelItem {
  height: 34px;
  width: 200px;
}

.chartCard {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.axis {
  font-family: inherit;
  font-size: 14px;
  color: #9b9eac;
  shape-rendering: geometricPrecision;
}

.axis-grid,
.y.axis {
  stroke-width: 0;
}
.axis-grid line {
  stroke-width: 1px;
  stroke: #dedede;
  stroke-dasharray: 2 2;
}

.shape {
  fill: red;
  fill-opacity: 0.7;
  stroke-width: 0;
}
