.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.notFound {
  font-weight: bold;
  font-size: 288px;
  text-align: center;
}

.legend {
  text-align: center;
  font-size: 36px;
  font-weight: unset;
}

.backHome {
  text-align: center;
  text-decoration: underline;
}
